<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RahamtGroupStore.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RaGrStoreDbConnection" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=RaGrStoreDatabase"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

<!--<RahamtGroupStore.View.Properties.Settings>
  <setting name="AdminPass" serializeAs="String">
    <value>8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92</value>
  </setting>
</RahamtGroupStore.View.Properties.Settings>-->